.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Open Sans", sans-serif;
}

.slide-in {
	animation-name: slide-in;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	opacity: 1;
}

@keyframes slide-in {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.main-container {
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: "Open Sans", sans-serif;
	margin: 30px 0;
}

.main-block {
	max-width: 1300px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
	align-items: center;
	padding: 0 40px;
	gap: 30px;
}

.main-text {
	max-width: 575px;
}

.main-heading {
	font-weight: 600;
}

.sub-heading {
	font-weight: 400;
}

@media only screen and (max-width: 1247px) {
	.main-container,
	.main-block {
		flex-direction: column;
		align-items: center;
	}
	.main-text {
		text-align: center;
	}
	.main-heading {
		font-size: 1.5rem;
	}
	.sub-heading {
		font-size: 1rem;
	}
	.later-text {
		order: -1;
	}
}
