.leaderboard {
	width: 500px;
	height: 435px;
	background-color: rgba(240, 237, 166, 0.25);
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow-y: auto;
}

.leaderboard-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
}

.heading-row {
	font-weight: bold;
}

.leaderboard-cell {
	flex-basis: 40%;
	text-align: center;
}

.badge-cell {
	flex-basis: 10%;
	text-align: center;
}

.name-cell {
	flex-basis: 50%;
	text-align: left;
}

.badge {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
}

.gold {
	background-color: gold;
}

.silver {
	background-color: silver;
}

.bronze {
	background-color: #cd7f32;
}

.leaderboard-row.disabled {
	opacity: 0.5;
}

.disabled-button {
	opacity: 0.5;
	pointer-events: none;
}

.disabled-input {
	opacity: 0.5;
	pointer-events: none;
}
