.leaderboard {
	width: calc(90%);
	max-width: 500px;
	min-width: 0;
	height: 435px;
	background-color: rgba(240, 237, 166, 0.25);
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.leaderboard-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid #767676;
}

.heading-row {
	font-weight: 500;
}

.leaderboard-cell {
	flex-basis: 40%;
	text-align: center;
}

.badge-cell {
	flex-basis: 10%;
	text-align: center;
}

.name-cell {
	flex-basis: 50%;
	text-align: left;
}

.badge {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
}

.gold path:first-of-type + path {
	stroke: #b0ad67;
}

.gold path:first-of-type {
	fill: #ffd74b;
}

.silver path:first-of-type + path {
	stroke: #000000;
}

.silver path:first-of-type {
	fill: #c8c7c7;
}

.bronze path:first-of-type + path {
	stroke: #b69159;
}

.bronze path:first-of-type {
	fill: #e1b067;
}

@media only screen and (max-width: 650px) {
	.leaderboard-cell {
		font-size: 0.7rem;
	}
	.leaderboard-row {
		padding: 5px;
	}
}
