header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Open Sans", sans-serif;
	margin: 30px 0;
}

.header-content {
	max-width: 1300px;
	min-height: 120px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
	align-items: center;
	padding: 0 40px;
}

.header-nav {
}

.header-nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 30px;
	padding: 0;
	color: #000;
}

.header-nav ul li {
	font-size: 2rem;
	font-weight: 500;
}

.language-switch {
	font-size: 1.3rem;
	display: flex;
	gap: 5px;
}

@media only screen and (max-width: 1247px) {
	.header-nav ul li {
		font-size: 1.3rem;
	}
	.language-switch {
		font-size: 1.2rem;
	}
	.header-content {
		justify-content: center;
		gap: 30px;
	}
}
